* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 60px 100px;
}

/* header nav */
header > nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

header > nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header > nav > ul > li > i {
  font-size: 1.2rem;
  margin-left: 0.9rem;
}

/* header container */
header .head-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 100px;
  margin-bottom: 3rem;
}

header .head-container > .head-left {
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

header .head-container > .head-left {
  color: #3a3a3a;
  font-size: 18px;
}

header .head-container > .head-left > p {
  font-size: 14px;
}

header .head-container > .head-left > button {
  background-color: #e02c6d;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
}

header .head-container > .head-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #f7f0ff;

  border-radius: 50%;
  height: 28rem;
  width: 28rem;
}

header .head-container > .head-right > img {
  width: 350px;
}

header .head-container > .head-right::before {
  content: " ";
  position: absolute;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background-color: #f7f0ff;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -999;
}

header .header-foot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
